<section class="section-features">
  <div class="container">
    <h2>Five Star service
      <br>Only Serve the Best Qulity Food</h2>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="feature">
          <img class="img-fluid" src="./images/feature_1@2x.png" alt="feature 1">
          <div class="feature-title">local organic food</div>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium corporis velit blanditiis laboriosam quidem
            dolorem perferendis sunt nulla facere. Quos ullam perferendis quam rem numquam magnam reprehenderit.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature">
          <img  class="img-fluid" src="./images/feature_2@2x.png" alt="feature 2">
          <div class="feature-title">michelin rated burger</div>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium corporis velit blanditiis laboriosam quidem
            dolorem perferendis sunt nulla facere. Quos ullam perferendis quam rem numquam magnam reprehenderit, eius nobis
            nemo?
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature">
          <img class="img-fluid" src="./images/feature_3@2x.png" alt="feature 3">
          <div class="feature-title">five stars service</div>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium corporis velit blanditiis laboriosam quidem
            dolorem perferendis sunt nulla facere. Quos ullam perferendis quam rem numquam magnam reprehenderit, eius nobis
            nemo?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-chef" id="chef">
  <div class="container position-relative">
    <div class="row">
      <div class="col-md-6 chef-img bg-cover"></div>
    </div>
    <div class="row justify-content-end">
      <div class="col-md-6">
        <div class="chef-block">
          <div class="h6">Today's Chef:
            <span>Gordan Ramsie</span>
          </div>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius nihil accusantium porro, aperiam, provident asperiores
            fugiat nobis numquam consectetur molestias aliquid deleniti voluptatum doloremque? Ipsam perspiciatis fuga autem
            aperiam quos.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius nihil accusantium porro, aperiam,
            provident asperiores fugiat nobis numquam consectetur molestias aliquid deleniti voluptatum doloremque? Ipsam
            perspiciatis fuga autem aperiam quos.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-testimonial">
  <div class="container">
    <h2>testimonial</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="media">
          <img class="mr-3" src="./images/avatar_1@2x.png" alt="avatar_1">
          <div class="media-body">
            <h5 class="mt-0">best food in town</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
            vulputate at.
            <span>--Mark Zuckerberg</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="media">
          <img class="mr-3" src="./images/avatar_2@2x.png" alt="avatar_2">
          <div class="media-body">
            <h5 class="mt-0">excellent service</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
            vulputate at.
            <span>--Bill Gates</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="media">
          <img class="mr-3" src="./images/avatar_3@2x.png" alt="avatar_3.png">
          <div class="media-body">
            <h5 class="mt-0">best food in town</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
            vulputate at.
            <span>--Lily Howard</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>