<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About B &amp; L Burger</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore debitis nam aspernatur excepturi blanditiis dolorum
          ullam tuuptatem. incidunt!</p>
      </div>
      <div class="col-md-4">
        <h5>Contact</h5>
        <ul>
          <li>2500 4th Ave, Seattle</li>
          <li>(204)125-2354</li>
          <li>brianlilyburger@gmail.com</li>
        </ul>
      </div>
      <div class="col-md-4 text-right">
        <div class="brand-text">b&amp;l burger</div>
        <div class="social-icons">
          <a href="#">
            <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
          </a>
          <a href="#">
            <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>