<header class="bg-cover">
  <div class="caption text-white text-center">
    <h1>Brian &amp; Lily's Burger</h1>
    <div class="mt-3 d-flex flex-column">
      <span>your best neighborhood restaurant</span>
      <span>
        <i class="ion-beer"></i>
        tasty burger
        <i class="ion-beer"></i>
      </span>
    </div>
  </div>
</header>