<nav class="navbar navbar-expand-md justify-content-end navbar-dark sticky-top narbar-top">
    <div class="container">
      <a class="navbar-brand" href="/">b&amp;l burger</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/menu">Menu</a>
          <a class="nav-item nav-link" href="#chef">Chef</a>
          <a class="nav-item nav-link" href="#reservation">Reserve</a>
          <% if (UserSignIn){ %>
            <a class="nav-item nav-link signout-btn" href="/auth/signout">Sign Out </a>
          <% }%>   
        </div>
      </div>
    </div>
  </nav>