<% layout('layout') %>

  <section class="section-form">
    <div class="container">
      <div class="title">
        <div class="h2">
          b&amp;l burger
          <span>best dining experience</span>
        </div>
      </div>
      <div class="login-block">
        <div class="h5">login</div>
        <form>
          <label for="">Email:</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa fa-envelope-o fa-fw"></i>
              </span>
            </div>
            <input type="email" class="form-control">
          </div>
          <label for="">Password: </label>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa fa-key fa-fw"></i>
              </span>
            </div>
            <input type="password" class="form-control">
          </div>
          <div class="d-flex justify-content-around mt-5">
            <a href="/register" class="btn btn-secondary">Register</a>
            <button type="submit" class="btn btn-orange mt-0">Sing Up</button>
          </div>
        </form>
      </div>
  </section>