<% layout('layout') %>
  <section class="section-form">
    <div class="container">
      <div class="title">
        <div class="h2">
          b&amp;l burger
          <span>best dining experience</span>
        </div>
      </div>
      <div class="register-block">
        <div class="h5">register</div>
        <div class="row">
          <div class="col-md-6">
            <div class="font-weight-bold">Agreement: </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi ullam dolores iure provident. Modi, ut maiores
              alias tenetur cumque sed eveniet ex sapiente ab. At dolores ad consequatur possimus corporis. dolores ad consequatur
              possimus corporis.</p>
          </div>
          <div class="col-md-6">
            <form>
              <label for="">Email:</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fa fa-envelope-o fa-fw"></i>
                  </span>
                </div>
                <input type="email" class="form-control">
              </div>
              <label for="">Password: </label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fa fa-key fa-fw"></i>
                  </span>
                </div>
                <input type="password" class="form-control">
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fa fa-key fa-fw"></i>
                  </span>
                </div>
                <input type="password" class="form-control">
              </div>
              <div class="text-right">
                <button type="submit" class="btn btn-orange">Sing Up</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </section>