<section class="section-features">
    <div class="container">
      <h2>Five Star service
        <br>Only Serve the Best Qulity Food</h2>
      <div class="row mt-5">
        <div class="col-md-4">
          <div class="feature">
            <img src="./images/feature_1.png" alt="feature 1">
            <div class="feature-title">local organic food</div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium corporis velit blanditiis laboriosam quidem
              dolorem perferendis sunt nulla facere. Quos ullam perferendis quam rem numquam magnam reprehenderit.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature">
            <img src="./images/feature_2.png" alt="feature 2">
            <div class="feature-title">michelin rated burger</div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium corporis velit blanditiis laboriosam quidem
              dolorem perferendis sunt nulla facere. Quos ullam perferendis quam rem numquam magnam reprehenderit, eius nobis
              nemo?
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature">
            <img src="./images/feature_3.png" alt="feature 3">
            <div class="feature-title">five stars service</div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium corporis velit blanditiis laboriosam quidem
              dolorem perferendis sunt nulla facere. Quos ullam perferendis quam rem numquam magnam reprehenderit, eius nobis
              nemo?
            </p>
          </div>
        </div>
      </div>
    </div>
    </section>
    <section class="section-chef">
      <div class="container position-relative">
        <div class="row">
          <div class="col-md-6 chef-img bg-cover"></div>
        </div>
        <div class="row justify-content-end">
          <div class="col-md-6">
            <div class="chef-block">
              <div class="h6">Today's Chef:
                <span>Gordan Ramsie</span>
              </div>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius nihil accusantium porro, aperiam, provident
                asperiores fugiat nobis numquam consectetur molestias aliquid deleniti voluptatum doloremque? Ipsam perspiciatis
                fuga autem aperiam quos.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius nihil accusantium
                porro, aperiam, provident asperiores fugiat nobis numquam consectetur molestias aliquid deleniti voluptatum
                doloremque? Ipsam perspiciatis fuga autem aperiam quos.</p>
            </div>
          </div>
        </div>
      </div>
    </section>