/* 
brown color: #3D1101
*/

html, body {
  font-family: 'Lato', sans-serif;
  color: #3D1101;
}

/* Resue */

.bg-cover {
  background-size: cover;
  background-position: center center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

section {
  padding: 3rem 0;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}


/* HEADER */

header {
  background-image: url('/images/bg-burger.jpg');
  height: 70vh;
  position: relative;
}

header nav {
  background-color: rgba(27, 26, 26, 0.8);
  text-transform: uppercase;
  letter-spacing: 1px;
}

header .caption {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 2.5rem;
  background-color: rgba(27, 26, 26, 0.5);
}

.caption h1 {
  font-weight: 300;
  word-spacing: 0.3rem;
}

.caption span {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.caption span i{
  font-size: 1rem;
}

/* Reservation */

.reservation-section {
  background-color: rgba(250,250,250,0.70);;
}

.reservation-section .map {
  width: 100%;
  height: 100%;
}

.reserve-form {
  width: 80%;
  margin: 0 auto;
}

.form-box {
  margin-bottom: 0.5rem;
}

.form-box label {
  display: block;
}
.form-box input[type="text"],
.form-box input[type="email"],
.form-box input[type="number"] {
  width: 100%;
  border-width: 2px;
}

.form-check-inline label {
  margin-top: 4px;
} 

/* Footer */

footer {
  padding: 1.5rem 0;
  background-color: #eee8e6c9;
}